<!-- This file is part of the View. It handles UI/UX concerns (layout and display)-->
<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Potluck Party! &#127881
      </h1>
    </header>
      <main class="container container-fluid mt-5">
      <!-- The following line is a place holder for where the main content will be rendered. -->
      <!-- What should we expect to see when visiting http://localhost:3001/ in the browser? -->
      <!-- We would expect to see the contents of all.handlebars in the browser, 
			because that is what we are instructing it to render in dish-routes.js. -->
     {{{ body }}}
      </main>
  </div>
  </body>

</html>
